build
Build
test
test.*
Test
Test.*
*.eps
*.err
*.pdf
*.a
*.o
*.out

StructureFactorAndCorrelationFunction
demo_str_2_dir_and_file
DemoDoolittleAlgorithm
DemoRandomNumbers
Demo_ReadTextFiles
Demo_NumericalMethods
